

.label1{
    margin-top: -4%;
    /* margin-bottom: -4px; */
      color: rgb(134, 133, 133); 
      
    }
    .input-container {
      display: flex;
      justify-content: center;
    }
    
    
    
    .inputfild {
      /* font-size: 30px; */
      border: 1px solid white; 
      font-weight: 500 !important;
      margin-bottom: 6%;
      text-align: left !important;
      color: black !important;
      width:100%;
    }
    .vrow{
      margin-top: 1%;
      border-top:1px Solid rgb(248, 241, 241);
      padding-top: 5px;
  
    }